body {
    font-family: Arial;
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 12px;
    background: #1e88e5;
    border: none;
    color: white;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: #1565c0;
}

#map {
    height: 300px;
    margin-top: 20px;
}
