body{
    margin:0;
    font-family:Arial;
    background:#f4f6f8;
    text-align:center;
}

.header{
    background:#2f80ed;
    color:white;
    padding:20px;
}

.day-selector button{
    margin:6px;
    padding:10px;
    border:none;
    border-radius:6px;
    background:#1976d2;
    color:white;
}

#map{
    height:350px;
    margin:20px;
    border-radius:12px;
}

.deal-card{
    background:white;
    margin:10px auto;
    padding:15px;
    max-width:400px;
    border-radius:10px;
    box-shadow:0 2px 6px rgba(0,0,0,0.1);
}

.add-form input{
    width:90%;
    margin:5px;
    padding:10px;
}

.add-form button{
    background:#1976d2;
    color:white;
    padding:10px;
    border:none;
}
