body {
    margin: 0;
    font-family: Arial;
    background: #f4f8fb;
    color: #0b3c5d;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 15px;
}

h1 {
    text-align: center;
    color: #0b3c5d;
}

h2 {
    text-align: center;
    font-weight: normal;
    margin-bottom: 20px;
}

.days {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.days button {
    flex: 1;
    margin: 2px;
    padding: 10px;
    border: none;
    background: #0b3c5d;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.days button:hover {
    background: #145d85;
}

#list {
    margin-bottom: 15px;
}

.card {
    background: white;
    padding: 10px;
    margin-bottom: 10px;
    border-left: 5px solid #0b3c5d;
    cursor: pointer;
}

.card:hover {
    background: #eef6fb;
}

#map {
    height: 300px;
    border: 3px solid #0b3c5d;
    border-radius: 10px;
}
